/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 24, ../sass/screen.scss */
body, td, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

/* line 29, ../sass/screen.scss */
a img, img {
  border: none;
}

/* line 33, ../sass/screen.scss */
a {
  color: #00577d;
  text-decoration: none;
}
/* line 37, ../sass/screen.scss */
a:hover {
  color: #006591;
  text-decoration: underline;
}

/* line 43, ../sass/screen.scss */
#wrapper {
  height: 100%;
  overflow: auto;
}

/* line 48, ../sass/screen.scss */
#header {
  position: absolute;
  top: -50px;
  left: 0;
  height: 50px;
  width: 100%;
  max-height: 50px;
  color: #ffffff;
  background-color: #13569e;
  /*234580*/
  /*-webkit-box-shadow: inset 0px -3px 0px -1px rgba(0, 0, 0, 0.50);
  box-shadow: inset 0px -3px 0px -1px rgba(0, 0, 0, 0.50);*/
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5), 1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5), -1px 0 rgba(0, 0, 0, 0.5);
}
/* line 63, ../sass/screen.scss */
#header #header-background {
  line-height: 0;
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(195, 195, 195, 0.22)), color-stop(50%, rgba(82, 82, 82, 0.18)), color-stop(51%, rgba(0, 0, 0, 0.14)), color-stop(100%, rgba(0, 0, 0, 0.22)));
  background: -webkit-linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  background: -moz-linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  background: -o-linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  -pie-background: linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  background: linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
}
/* line 72, ../sass/screen.scss */
#header #logo {
  max-height: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
  font-size: 25pt;
}
/* line 83, ../sass/screen.scss */
#header #logo .version {
  font-size: 7pt;
  margin-left: -5px;
  text-transform: none;
  display: inline-block;
  line-height: 75px;
  vertical-align: top;
}
/* line 91, ../sass/screen.scss */
#header #logo a {
  color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  max-height: 48px;
}
/* line 96, ../sass/screen.scss */
#header #logo a:hover {
  color: white;
  text-decoration: none;
}
/* line 100, ../sass/screen.scss */
#header #logo a img {
  padding-top: 2px;
}
/* line 105, ../sass/screen.scss */
#header #gauges {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
/* line 114, ../sass/screen.scss */
#header #gauges div {
  height: 47px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 122, ../sass/screen.scss */
#header #gauges div:hover {
  opacity: 1;
}
/* line 127, ../sass/screen.scss */
#header #notifications {
  position: absolute;
  display: inline-block;
  line-height: 50px;
  right: 0;
  overflow: auto;
  max-height: 50px;
  padding-right: 10px;
}
/* line 136, ../sass/screen.scss */
#header #notifications #account {
  text-align: center;
}
/* line 139, ../sass/screen.scss */
#header #notifications #account #tools {
  position: relative;
  float: right;
}
/* line 143, ../sass/screen.scss */
#header #notifications #account #tools a {
  margin-top: -3px;
}
/* line 146, ../sass/screen.scss */
#header #notifications #account #tools #logout {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: transparent url("../images/door_out.png") no-repeat center center;
}
/* line 153, ../sass/screen.scss */
#header #notifications #account #tools #search {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(195, 195, 195, 0.22);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(195, 195, 195, 0.22)), color-stop(50%, rgba(82, 82, 82, 0.18)), color-stop(51%, rgba(0, 0, 0, 0.14)), color-stop(100%, rgba(0, 0, 0, 0.22)));
  background: -webkit-linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  background: -moz-linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  background: -o-linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  -pie-background: linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  background: linear-gradient(top, rgba(195, 195, 195, 0.22) 0%, rgba(82, 82, 82, 0.18) 50%, rgba(0, 0, 0, 0.14) 51%, rgba(0, 0, 0, 0.22) 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 168, ../sass/screen.scss */
#header #notifications #account #tools #search #search-box {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: rgba(255, 255, 255, 0.75);
  padding-right: 30px;
  padding-left: 5px;
  height: 24px;
}
/* line 177, ../sass/screen.scss */
#header #notifications #account #tools #search #search-submit {
  position: absolute;
  text-indent: -3000em;
  padding: 0;
  border: 0;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 25px;
  height: 24px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1) url("../images/magnifier.png") no-repeat center center;
}
/* line 190, ../sass/screen.scss */
#header #notifications #account #tools #search #search-submit:hover {
  background-image: url("../images/magnifier_hover.png");
}

/* line 200, ../sass/screen.scss */
#main {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
/* line 208, ../sass/screen.scss */
#main #sidebar-outer {
  height: 100%;
  width: 200px;
  float: left;
  overflow: auto;
  background-color: #13569e;
  position: relative;
}
/* line 216, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container {
  height: 100%;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset -15px 0px 20px -13px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset -15px 0px 20px -13px rgba(0, 0, 0, 0.4);
  box-shadow: inset -15px 0px 20px -13px rgba(0, 0, 0, 0.4);
}
/* line 222, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul {
  list-style: none;
  display: block;
}
/* line 226, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul li {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  -pie-background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
/* line 238, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul li a {
  display: block;
  margin-left: 8px;
  padding-left: 25px;
  color: #ffffff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5), 1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5), -1px 0 rgba(0, 0, 0, 0.5);
}
/* line 246, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul li a:hover {
  text-decoration: none;
}
/* line 250, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul li:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 254, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul li.current {
  background-image: url("../images/arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
/* line 261, ../sass/screen.scss */
#main #sidebar-outer #sidebar-container ul li.current:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
/* line 269, ../sass/screen.scss */
#main #content-container {
  overflow: auto;
  opacity: 0;
  background-color: #fbfbfb;
  height: 100%;
}
/* line 275, ../sass/screen.scss */
#main #content-container #content {
  padding: 5px 10px;
}
/* line 278, ../sass/screen.scss */
#main #content-container #content > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 283, ../sass/screen.scss */
#main #content-container #login {
  margin: 20px auto;
  width: 260px;
  border: 1px solid #637291;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  background-color: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 2, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 2, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 2, 0, 0.15);
  padding: 20px;
}
/* line 299, ../sass/screen.scss */
#main #content-container #login .inputrow {
  vertical-align: middle;
  line-height: 19px;
}
/* line 304, ../sass/screen.scss */
#main #content-container #login input[type=submit] {
  display: block;
  padding: 3px 20px;
  padding-top: 4px;
  text-transform: uppercase;
  margin: 0 auto;
  clear: both;
}
/* line 314, ../sass/screen.scss */
#main #content-container .datagrid {
  font: normal 12px / 150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #8C8C8C;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 315, ../sass/screen.scss */
#main #content-container .datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
/* line 319, ../sass/screen.scss */
#main #content-container .datagrid table td, #main #content-container .datagrid table th {
  padding: 3px 10px;
}
/* line 322, ../sass/screen.scss */
#main #content-container .datagrid table thead th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-color: #13569e;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  border-left: 1px solid #a3a3a3;
}
/* line 329, ../sass/screen.scss */
#main #content-container .datagrid table thead th:first-child {
  border: none;
}
/* line 334, ../sass/screen.scss */
#main #content-container .datagrid table tbody td {
  color: #7D7D7D;
  border-left: 1px solid #DBDBDB;
  font-size: 12px;
  font-weight: 400;
}
/* line 340, ../sass/screen.scss */
#main #content-container .datagrid table tbody .alt td {
  background: #EBEBEB;
  color: #7d7d7d;
}
/* line 344, ../sass/screen.scss */
#main #content-container .datagrid table tbody td:first-child {
  border-left: none;
}
/* line 347, ../sass/screen.scss */
#main #content-container .datagrid table tbody tr:last-child td {
  border-bottom: none;
}
/* line 352, ../sass/screen.scss */
#main #content-container .datagrid table tfoot td {
  border-top: 1px solid #8C8C8C;
  background: #ebebeb;
  padding: 2px;
  padding: 0;
  font-size: 11px;
}
/* line 359, ../sass/screen.scss */
#main #content-container .datagrid table tfoot td a {
  margin: 3px;
  text-decoration: none;
  display: inline-block;
  color: #F5F5F5;
  border: 1px solid #666666;
  background-color: #8c8c8c;
}
/* line 367, ../sass/screen.scss */
#main #content-container .datagrid table tfoot td a span {
  display: block;
  padding: 0 8px;
}
/* line 371, ../sass/screen.scss */
#main #content-container .datagrid table tfoot td a span:hover {
  text-decoration: none;
  border-color: #7D7D7D;
  color: #F5F5F5;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 391, ../sass/screen.scss */
#main #content-container #content-footer {
  width: 100%;
  /*border-top: 1px dashed rgba(0, 0, 0, 0.10);*/
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  padding-top: 3px;
}
/* line 401, ../sass/screen.scss */
#main #content-container #content-footer a {
  color: inherit;
}
/* line 404, ../sass/screen.scss */
#main #content-container #content-footer a:hover {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
#content h1 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 0;
}

@media all and (orientation: portrait) and (max-width: 644px) {
  /* line 414, ../sass/screen.scss */
  #sidebar-outer {
    float: none !important;
    width: 100% !important;
    height: auto !important;
  }
  /* line 419, ../sass/screen.scss */
  #sidebar-outer #sidebar-container {
    height: auto !important;
    width: 100% !important;
  }
}
/* line 426, ../sass/screen.scss */
.success {
  background-color: #a6f8a4;
  background-image: url("../images/tick.png");
  border-color: #46d249;
}

/* line 432, ../sass/screen.scss */
.failure {
  background-color: #f8a4a4;
  background-image: url("../images/exclamation.png");
  border-color: #d24646;
}

/* line 438, ../sass/screen.scss */
.information {
  background-color: #a4e1f8;
  background-image: url("../images/information.png");
  border-color: #46acd2;
}

/* line 444, ../sass/screen.scss */
.informationlight {
  background-color: #f8dda4;
  background-image: url("../images/information_light.png");
  border-color: #d2af46;
}

/* line 450, ../sass/screen.scss */
.success, .failure, .information, .informationlight {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 75%;
  padding: 10px 10px 10px 32px;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: rgba(0, 0, 0, 0.65);
}

/* line 464, ../sass/screen.scss */
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}

/* line 470, ../sass/screen.scss */
.left {
  float: left;
}

/* line 474, ../sass/screen.scss */
.rright {
  text-align: right;
}

/* line 478, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 482, ../sass/screen.scss */
.centered {
  margin: 0 auto;
}

/* line 486, ../sass/screen.scss */
.right {
  float: right;
}
